.items {
    padding-left: 0;
    width: 200px;
    float: left;
    margin: 10px;
    height: 500px;
    background-color: lightblue;
    border-radius: 10px;
}
.items-item {
    border: 1px solid #999;
    padding: 5px;
    margin-bottom: -1px;
    height: 50px;
    cursor: pointer;
    background-color: whitesmoke;
}
.items-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.items-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.shadowEL {
    opacity: 0.2;
    color: transparent;
}
.not-shadow {
    opacity: 0.2;
    color: transparent;
}

.items-item.dragged {
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    width: 200px;
    pointer-events: none;
    background: #fff;
}
.add-card {
    margin: 15px 20px 10px 15px;
    background-color: lightcoral;
    color: white;
    padding: 15px 20px;
    border: none;
    font-size: 14px;
    border-radius: 15px;
    float: left;
}
/*.content {*/
/*    width: 1200px;*/
/*}*/
/*.column {*/
/*    width: 300px;*/
/*    height: 720px;*/
/*    margin: 15px;*/
/*    background-color: bisque;*/
/*    float: left;*/
/*    border-radius: 15px;*/
/*}*/
/*.card {*/
/*    width: 90%;*/
/*    height: 20%;*/
/*    background-color: lightgray;*/
/*    margin: auto;*/
/*    margin-top: 10px;*/
/*    border: solid black 2px;*/
/*    border-radius: 15px;*/
/*    position: relative;*/
/*}*/


/*}*/
.add-card:disabled {
    opacity: 0.4;
}
.card.card-text {
    text-align: center;
}
.button-close {
    display: inline-block;
    margin: 0 0 0 160px;
    width: 30px;
    height: 20px;
    visibility: hidden;
    text-align: center;
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 5px;
}
.button-close.hidden {
    display: none;
}
.card-text.hidden {
    display: none;
}
.card:hover .button-close {
    visibility: visible;
}
.card-text:focus {
    outline: none;
}

/*}*/
/*.dragged {*/
/*    position: absolute;*/
/*    z-index: 999;*/
/*    !*pointer-events: none;*!*/
/*    background: black;*/
/*}*/

